<link rel="stylesheet" href="/style/navbar.css">
<header class="navbar">
    <ul class="nav-links">
        <li><a href="/">Início</a></li>
        <li><a href="/sobre">Sobre Mim</a></li>
        <li><a href="/disciplinas">Disciplinas</a></li>
        <li><a href="/projetos">Projetos</a></li>
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/contato">Contato</a></li>
    </ul>
</header>