/*corpo e geral*/
body {
    margin: 0;
    font-family: 'Outfit', sans-serif;
    background: linear-gradient(to bottom, #0f172a, #1e293b);
    color: #f1f5f9;
}

header {
    background: linear-gradient(to right, #0ea5e9, #2563eb);
    padding: 2rem 0;
    text-align: center;
    border-bottom: 4px solid #1e40af;
}

.header-content h1 {
    font-size: 3rem;
    margin-top: 2rem;
    margin-left: 2%;
    color: #fff;
}

.header-content h3{
    font-size: 2rem;
    margin-left: 2%;
    color: #fff;
}

.header-content p {
    font-size: 1.2rem;
    margin: 0.1rem 0;
    color: #b4c5d3;
}

.links {
    margin-top: 1rem;
}

.links a {
    text-decoration: none;
    color: #e0f2fe;
    margin: 0 1rem;
    font-weight: 600;
    transition: color 0.3s ease;
}

.links a:hover {
    color: #ffffff;
}

.container {
    max-width: 960px;
    margin: auto;
    padding: 2rem 1rem;
    line-height: 1.7;
    font-size: 1.1rem;
    background-color: #0f172a;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
}

.container p{
    text-align: justify;
}

section {
    margin-bottom: 2.5rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #334155;
}

section a {
    text-decoration: none;
    color: #e0f2fe;
    margin: 0 27rem;
    font-weight: 600;
    transition: color 0.3s ease;
    font-size: 30px;
}

section a:hover {
    color: #ffffff;
}

h2 {
    font-size: 1.8rem;
    color: #7dd3fc;
    border-bottom: 2px solid #38bdf8;
    padding-bottom: 0.3rem;
    margin-bottom: 1rem;
}

.table {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.collum{
    display: flex;
    flex-wrap:wrap;
    gap: 1rem;
    justify-content: space-between;
}

.box{
    background-color: #1e293b;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    text-align: center;
    border-radius: 8px;
    flex: 1 1 200px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    color: #f8fafc;
}


.row {
    display: flex;
    justify-content: space-between;
    padding: 0.75rem 1rem;
    background: #1e293b;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    font-weight: 500;
}


.list {
    list-style: disc;
    padding-left: 1.5rem;
}


.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; 
    gap: 0.5rem;
}

.section-header h2 {
    margin: 0;
}

.button_back {
    display: inline-block;
    text-decoration: none;
    color: #f8fafc;
    background-color: #1e40af;
    padding: 0.4rem 1rem;
    font-weight: 600;
    font-size: 16px;
    border-radius: 8px;
    white-space: nowrap;
    margin: 1rem auto;
}

.button_curriculo {
    display: inline-block;
    text-decoration: none;
    color: #f8fafc;
    padding: 0.4rem 1rem;
    font-weight: 600;
    background-color: #1e40af;
    font-size: 16px;
    border-radius: 8px;
    margin-top: 1rem;
    white-space: nowrap;
}