<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/contato.css">
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <%- include('../partials/navbar') %>
    <header>
        <main class="container">
            <section>
            <h2>Contatos</h2>
            <h1>Email: miguel.nonaka@fatec.sp.gov.br</h1>
            </section>
        </main>
    </body>
</html>