<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfólio | <%= estudante.nome %></title>

    <link rel="stylesheet" href="/style/home.css">
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="header-content">
            <h1>Bem-vindo ao meu portfólio!</h1>
            <h3>Game Developer • Desenvolvedor de Software • Técnico em TI</h3>

            <div class="links">
                <a href="/">Início</a>
                <a href="/sobre">Sobre Mim</a>
                <a href="/disciplinas">Disciplinas</a>
                <a href="/projetos">Projetos</a>
                <a href="/dashboard">Dashboard</a>
                <a href="/contato">Contato</a>
            </div>
        </div>
    </header>

    <main class="container">
        <div class="profile-info">
            <h1>Sou <%= estudante.nome %></h1>
            <h3>Estudante de <%= estudante.curso %></h3>
            <p>Bem-vindo ao meu portfólio acadêmico! Aqui você pode conhecer minhas disciplinas, projetos e estatísticas sobre minha jornada acadêmica.</p>
            <a href="/sobre" class="button_curriculo">Saiba mais sobre mim</a>
        </div>
    </main>
</body>
</html>
