<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfólio | <%= estudante.nome %></title>

    <link rel="stylesheet" href="/style/sobre.css">
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <%- include('../partials/navbar') %>
    <header>
        <main class="container">
            <section>
            <h2>Sobre Mim</h2>
            <p>Meu nome é Miguel Tomio Toledo Nonaka, sou estudante da Fatec no curso de desenvolvimento de software multiplataforma, tenho foco em desenvolvimento de jogos, programação e desenvolvimente de redes neurais. 
                Sou dedicado, sonhador, autodidata e sempre disposto a aprender mais.
                Fora do ambiente de carreira sou um artista digital e cantor amador, mas tenho como mira sucesso na internet.</p>
            </section>

            <section>
            <h2>Formação</h2>
            <div class="table">
                <div class="row"><div>Luce Prima School</div><div>2013–2021</div></div>
                <div class="row"><div>Univap College</div><div>2022–2024</div></div>
                <div class="row"><div>Super Geeks</div><div>2016–2020</div></div>
                <div class="row"><div>Alura (Online)</div><div>Deep Learning com Keras</div></div>
            </div>
            </section>

            <section>
            <h2>Habilidades</h2>
            <div class="table">
                <div class="row"><div>Linguagens</div><div>C, C#, Python, Kotlin, Java</div></div>
                <div class="row"><div>Front-End</div><div>HTML, CSS, JavaScript, PHP</div></div>
                <div class="row"><div>Banco de Dados</div><div>MySQL, SQL básico</div></div>
                <div class="row"><div>IA</div><div>YOLOv8, IBM Watson</div></div>
                <div class="row"><div>Game Engines</div><div>Unity, Unreal, Roblox Studio, Game Maker</div></div>
                <div class="row"><div>AR/VR</div><div>Realidade Aumentada e Virtual com Unity</div></div>
            </div>
            </section>

            <section>
            <h2>Soft Skills</h2>
            <div class="collum">
                <div class="box">Comunicação eficaz</div>
                <div class="box">Trabalho em equipe</div>
                <div class="box">Criatividade</div>
            </div>
            </section>

            <section>
            <h2>Experiência</h2>
            <div class="table">
                <div class="row"><div>MISSIM LTDA</div><div>Estágio com Unity, C# e POO (Out 2023 – Abr 2024)</div></div>
            </div>
            </section>

            <section>
            <h2>Idiomas</h2>
            <div class="table">
                <div class="row"><div>Japonês</div><div>Intermediário (N5 e N4)</div></div>
                <div class="row"><div>Inglês</div><div>Avançado</div></div>
            </div>
            </section>

        </main>
    </body>
</html>